@media screen and (max-width: 650px) {
  .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    overflow-x: scroll !important;
  }
}

.TableDataCellBlack {
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #fff;
}

.TableContainer {
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(224, 224, 224, 1);
  background-color: #fff;
}

.Cell {
  display: flex;
  align-items: "center";
  justify-content: "flex-start";
}

.Table {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.TableHead {
  background: #fafafa;
}

.TableHeadCell {
  font-weight: 500 !important;
  color: grey !important;
  padding: 12px !important;
  padding-left: 26px !important;
  min-width: 40px;
}

.TableDataCellBlack {
  font-weight: 600 !important;
  color: #000;
  border-bottom: none !important;
  padding-left: 26px !important;
  min-width: 40px;
}

.TableDataCell {
  font-weight: 500 !important;
  color: grey !important;
  border-bottom: none !important;
  padding-left: 26px !important;
  min-width: 40px;
}

.TableT {
  border-radius: 10px !important;
  min-width: 400;
}
